@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
    align-content: center;
}

.presentacion {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin: 5%;
}

.presentacion__contenido {
    width: 615px;
    height: 482px;
    align-content: center;

}

.presentacion__contenido__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.presentacion__contenido__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.titulo-destacado {
    color: #22D4FD;
}