body {
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

.presentacion {
    display: flex;
    align-items: center;
}

.titulo-destacado {
    color: #22D4FD;
}